<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PageUrl" value="https://en.wikipedia.org/wiki/Microsoft"/>
    <add key="SectionTagType" value="h2"/>
    <add key="SectionId" value="History"/>
    <add key="NumberOfWords" value="10"/>
    <add key="ExcludeWords" value="the,a,an"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>